[alias]
	a = add
	aa = add --all
	c = checkout
	co = commit
	cp = cherry-pick
	df = diff
	f = fetch
	l = log --graph --decorate
	pl = pull -p
	ps = push
	s = status
	ud = log ..@{u}
	ugtr = !git remote set-url origin $(git config remote.origin.url | sed 's|://[^@]*@|://|' | sed \"s|://|://$GITIG_GITEA_ACCESS_TOKEN@|\") $@
[pull]
	rebase = true
[push]
	default = simple
[user]
	name = Johannes Marbach
[include]
	path = ~/.gitconfig_local
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
