[alias]
	c = checkout
	cp = cherry-pick
	f = fetch
	l = log --graph --decorate
	pl = pull -p
	ps = push
	s = status
	ud = log ..@{u}
	psgt = !git ps https://$GITEA_ACCESS_TOKEN@$(git config --get remote.origin.url | sed 's|https://||') $@
[pull]
	rebase = true
[push]
	default = simple
[user]
	name = Johannes Marbach
[include]
	path = ~/.gitconfig_local
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
