[alias]
	c = checkout
	cp = cherry-pick
	f = fetch
	l = log --graph --decorate
	pl = pull -p
	ps = push
	s = status
	ud = log ..@{u}
[pull]
	rebase = true
[push]
	default = simple
[user]
	name = Johannes Marbach
[include]
	path = ~/.gitconfig_local