[submodule "music-management"]
	path = music-management
	url = https://nosuchdomain.mooo.com/git/doc/music-management
[submodule "gitig"]
	path = gitig
	url = https://nosuchdomain.mooo.com/git/doc/gitig
